@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Developer recruitment exercise</h1>
    <h2>Overview</h2>
    <p>
        Design a web based application, using C#, to receive customer orders for shoes via an input file for the “Very Big Shoe Company”.
    </p>
</div>
